<% provide(:title, 'Edit User') # Set page title %> 
<h1>Update Your Info</h1>

<% # form_for generates an appropriate form tag and yields a form builder object that knows the model the form is about. %>
<% #Input fields are created by calling methods defined on the form builder, which means they are able to generate the   %>
<% #appropriate names and default values corresponding to the model attributes                                           %>
<% #when using it to create a form rails uses @user.new_record? to determine POST or PATCH (and pre-fill email, name)    %>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
                                          
        
        <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages' %>
        
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
        
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
        
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
        
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
        
        <%= f.submit "Update my account", class: "btn btn-primary" %>
        <% end %>
        
        <div class="gravatar_edit">
            <%= gravatar_for @user %>
            <a href="http://gravatar.com/emails" target="_blank">Change your gravitar</a>
        <!-- #Using target="_blank" opens a new tab for the user -->
        </div>
    </div>
</div>